<nav class="navbar navbar-inverse" ng-app="HomeController">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">powdr</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <ul class="nav navbar-nav" ng-app="ResortController">
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Ski Resorts<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/resorts" ng-click="Resort('vail')">Vail</a></li>
          <li><a href="/resorts" ng-click="Resort('snowmass')">Snowmass</a></li>
          <li><a href="/resorts" ng-click="Resort('telluride')">Telluride</a></li>
          <li><a href="/resorts" ng-click="Resort('keystone')">Keystone</a></li>
          <li><a href="/resorts" ng-click="Resort('breckenridge')">Breckenridge</a></li> 
       </ul></li>



        <li><a href="#">favorite resorts</a></li>
        <li><a href="#">cold spots</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/auth/facebook"> login with
        <span>
          <img src="/images/facebook_logo.png" width="20px">
        </span></a></li>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </ul>
    </div>
  </div>
</nav>
