<h3>{{message}}</h3>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="jumbotron text-center" ng-repeat="resort in allResorts"><a ng-href="/{{resort.id}}">
      <div class="col-md-12">
        {{resort.name}}<br>
        {{resort.id}}<br>
        {{resort.latitude}}<br>
        {{resort.longitude}}
      </div></a>
<div ng-repeat='resort in allResorts | filter: search'>
  <div class='row well'><a ng-href="/{{resort.id}}">
    <div class='col-md-2'>
    </div>
    <div class='col-md-8'>
      name: {{resort.name}}<br>
      id: {{resort.id}}<br>
      laatitude: {{resort.latitude}}<br>
      longitude: {{resort.longitude}}<br>
    </div></a>
  </div>
</div>
